.map-container {
	width: 100vw;
	height: 100vh;
}

.map-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.locate-btn {
  position: absolute;
  top: 60px;
  left: 20px;
  background-color: #1f1f27;
  color: white;
  border: none;
  padding: 10px 14px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
}

.locate-btn:hover {
  background-color: #444444;
}

.locate-btn.active {
  background: #4285f4;
  color: white;
}

.mapboxgl-ctrl-attrib-button {
	display: none !important;
}

.custom-marker {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.mapboxgl-popup-content {
  text-align: center;
  padding: 5px;
}

.mapboxgl-popup-close-button {
  display: none;
}