
.mapboxgl-popup-content{
  padding: 0px;
}

.fuel-station-card {
  width: 600px;
  padding: 10px;
  background-color: #f0f7ff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  font-family: system-ui, -apple-system, sans-serif;
}

.fuel-station-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.fuel-station-name {
  font-size: 20px;
  font-weight: 700;
  color: #221F26;
  margin: 0;
}

.fuel-type-badge {
  background-color: #0EA5E9;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 10px;
  border-radius: 20px;
  white-space: nowrap;
}

.location-container {
  align-items: center;
}

.location-icon {
  display: inline-block;
  vertical-align: middle;
  color: #0EA5E9;
}

.location-text {
  display: inline-block;
  vertical-align: middle;
  color: #403E43;
  font-size: 10px;
  margin: 0;
  text-align: left;
}

.fuel-type-container .fuel-icon {
  color: #0EA5E9;
}

.fuel-type-container .fuel-type-text {
  background-color: #0EA5E9;
  color: white;
  font-size: 10px;
  font-weight: 500;
  padding: 3px 10px;
  border-radius: 20px;
  text-align: left;
  white-space: nowrap;
}

.fuel-info-row-container{
  display: flex;
  gap: 5px;
}

.fuel-type-container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.fuel-info-container {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.last-update-info-container {
  flex: 1;
}

.last-update-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.fuel-icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0EA5E9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fuel-icon {
  color: white;
}

.fuel-details {
  display: flex;
  flex-direction: column;
}

.fuel-label {
  color: #8A898C;
  font-size: 14px;
  margin: 0;
}

.fuel-amount {
  color: #221F26;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

.last-update-info .udpate-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.last-update-info .udpate-item .calendar-icon,
.last-update-info .udpate-item .clock-icon {
  color: #8A898C;
}

.last-update-info .udpate-item .update-text {
  font-size: 10px;
  text-transform: uppercase;
  color: #8A898C;
}