.anh-button {
  padding: 10px 10px;
  background-color: #3182ce;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 10px;
}

.anh-button:hover {
  background-color: #2c5282;
}

.anh-span {
  background-color: #f0f0f0;
  vertical-align: middle;
  font-weight: bold
}